/* Asterisk wildcard selector to overide default browser styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemon&family=Oswald:wght@200..700&display=swap');

/* General styles */
body {
    /*General project styles */
    color: green;
    font-family: 'Lato', sans-serif
}

/* flex wrap */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

/* Header */
header {
background-color: whitesmoke;
}

/* Main content */
main {
    background-color: yellow;
    /* Make main element take up space to push footer to bottom */
    flex: 1 0 auto;
}

/* Footer */
footer {background-color: blue;}