/* Asterisk wildcard selector to overide default browser styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemon&display=swap');

/* General styles */
body {
    /*General project styles */
    color: #404040;
    font-family: 'Lato', sans-serif
}

/* flex wrap */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

/* Header */
header {
background-color: #ffffff;
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 2.5px 5px #404040;
display: flex;
justify-content: space-between;
align-items:center;
height: 70px;
}

#logo{
    vertical-align: auto;
}

h1 {
    font-family: 'Lemon' sans-serif;
}

/*styling for list in heading */
#menu {
    letter-spacing: 2px;
    list-style-type: none;
    font-size: 110%;
    color:#404040
}

/* list items styling */
#menu li a:hover{
    color:#fe1c1d
}
.active {
    border-bottom: 1px solid #404040;
}

a{
    text-decoration: none;
}

#menu > li {
    margin-bottom: 0.5rem;
    text-decoration: none;
}

/* Navbar styles with dropdown toggle */
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2.5px 5px #404040;
    display:none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav{
    display: block;
    }

#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 1.75rem;
    color:#000000
}

/* Main content */
main {
    background-color: yellow;
    /* Make main element take up space to push footer to bottom */
    flex: 1 0 auto;
    margin-top: 70px;
}

/* Footer */
footer {background-color: blue;}

/*media query: tablets and larger (768px and up) */
@media screen and (min-width:768px){
  nav{
    display:block;
    position:sticky;
    box-shadow: none;
    width:fit-content;
    padding-right: 1rem;
  }  

#menu{
    display:flex;
}

#menu >li {
    padding-left: 1.5rem;
}

.nav-toggle-label{
    display: none;
}
} 

/*media query: tablets and larger (992px and up) */
@media screen and (min-width:992px){
#menu a:hover{
    border-bottom: 1px solid #404040;
}
}